<%- include('../include/header') %>

<main>
    <h1>Clientes</h1>
    <p>Listagem de clientes</p>
    <% users.forEach(user => { %>
        <hr>
        <h4 class="nomeClientes"><%= user.nome %></h4>
        <ul>
            <li class="listClientes"> <span>Usuário:</span> <%= user.usuario %> </li>
            <li class="listClientes"> <span>Email:</span> <%= user.email %> </li>
            <li class="listClientes"> <span>Quantidade de Metas:</span> <%= countMeta %> </li>
            <li class="listClientes"> <span>Quantidade de anotações:</span> <%= countNote %> </li>
            <li class="listClientes"> <span>Data de cadastro:</span> <%= user.data %> </li>
        </ul>
    <% }); %> 
</main>

<%- include('../include/footer') %>

</body>
</html>