<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Lista de Usuário</h1>
    <i class='bx bxs-user'></i>
    <% users.forEach(user => { %>
        <% if(User.id !== user.id) { %>
        <hr>
            <h4 class="nomeClientes"><%= user.nome %></h4>
            <% if(user.eAdmin) {%>
                <h6 class="userAdmin">• <i>Admin</i></h6>
            <% } %>
            <ul>
                <li class="listClientes"> <span>Usuário:</span> <%= user.usuario %> </li>
                <li class="listClientes"> <span>Email:</span> <%= user.email %> </li>
                <li class="listClientes"> <span>Quantidade de Metas:</span> undefine </li>
                <li class="listClientes"> <span>Quantidade de anotações:</span> undefine </li>
                <li class="listClientes"> <span>Data de cadastro:</span> <%= user.data %> </li>
            </ul>
            <% } %>
    <% }); %> 
</main>

<%- include('../include/footer') %>

</body>
</html>