<%- include('../include/header') %>

<main>
    <h1>Teste de página de admin</h1>
    <p>Listagem de clientes</p>
    <% users.forEach(user => { %>
        <hr>
        <div>
            <h4> <%= user.nome %> </h4>

        </div>
        
        <ul>
            <li class="listClientes"> <span>Id do usuário:</span> <%= user.id %> </li>
            <li class="listClientes"> <span>Usuario:</span> <%= user.usuario %> </li>
            <li class="listClientes"> <span>Email:</span> <%= user.email %> </li>
            <li class="listClientes"> <span>Senha:</span> <%= user.senha %> </li>
            <li class="listClientes"> <span>Data de cadastro:</span> <%= user.data %> </li>
        </ul>
    <% }); %> 
</main>

<%- include('../include/footer') %>

</body>
</html>