<%- include('./include/header') %>

<main>
    <form action="/meta/edit" method="post">
        <h1>Editar Meta</h1>
        <input type="hidden" name="id" value="<%= Meta._id %>">
        <br>
        <label for="titulo">Meta: </label>
        <input type="text" name="titulo" id="Titulo" value="<%= Meta.titulo %>">
        <br>
        <label for="conteudo">Descrição: </label>
        <input type="text" name="conteudo" id="conteudo" value="<%= Meta.conteudo %>" placeholder="Opcional">
        <br>
        <button type="submit">Salvar</button>
        <a href="/metas">Cancelar</a>
    </form>
</main>

<%- include('./include/footer') %>

</body>
</html>