<%- include('./include/header') %>

<main>
    <form action="" method="post">
        <h1>Tarefas Diárias</h1>
        <i class='bx bx-task'></i>
        <hr>
        <div class="adicionar">
            <h3 id="nome"> </h3>
            <a class="btn" href="/postagem">Adicionar Tarefa</a>
        </div>
        <div class="posts">
            <% listNotes.forEach(note => { %>
                <h4> <%= note.titulo %>  </h4>
                <a href="//edit/<%= note.id %> "> <button class="btn">Editar</button> </a>
                <p> <%= note.conteudo %>  </p>
                <hr>
            <% }); %> 
        </div>
    </form>
    <br><br>
    <form action="/logout" method="post"><input type="submit" value="Sair" class="btn"></form>
</main>

<%- include('./include/footer') %>
<%- include('./include/script') %>

</body>
</html>