<%- include('./include/header') %>

<main>
    <h1>Minhas Anotações</h1>
    <i class='bx bx-task'></i>
    <hr>
    <div class="adicionar">
        <a class="btn" href="/postagem">Adicionar anotação</a>
        <p><%= listNotes.userId %> </p>
    </div>
    <div class="posts">
        <% listNotes.forEach(note => { %>
            <div class="cardPost">
                <!-- <a class="btn-edit" href="/note/edit/< note.id %>"><i class='bx bx-pencil'></i></a> -->
                <div class="btn-edit" onclick="Mudarestado('editarNote')">
                    <i class='bx bx-pencil'></i>
                </div>
                <a class="btn-danger" href="/note/delete/<%= note.id %>" onclick="return confirm('Deseja mesmo apagar esta Anotação?');"><i class='bx bx-trash'></i></a>
                <h4><%= note.titulo %></h4>
                <input type="hidden" name="id" value="<%= note.id %>">
                <p><%= note.conteudo %></p>
                <hr>
            </div>
            <!-- < editNote.forEach(noteEdit => { %> Erro! não pode um forEach dentro do outro ao que parece -->
                <form action="/note/edit" method="post">
                    <h1>Editar Anotação</h1>
                    <input type="hidden" name="id" value="<%= note._id %>">
                    <br>
                    <% if(note.id == noteEdit.id) { %> 
                    <label for="titulo" id="labelTitulo">Titulo: </label>
                    <input type="text" name="titulo" id="Titulo" value="<%= noteEdit.titulo %> ">
                    <br>
                    <label for="conteudo" id="labelConteudo">Conteudo: </label>
                    <br>
                    <textarea name="conteudo" id="conteudo" cols="30" rows="10"><%= noteEdit.conteudo %></textarea>
                    <br>
                    <input class="salvarEdit" onclick="Mudarestado('editarNote')" type="submit" value="Salvar">
                    <a class="cancelarEdit" onclick="Mudarestado('editarNote')" href="/home">Cancelar</a>
                    <% } %> 
                </form>
            <% }) %> 
            <div id="editarNote">
                
            </div>
        <% }); %>
    </div>
</main>

<%- include('./include/footer') %>

</body>
</html>