<%- include('./include/header') %>

<main>
    <form action="" method="post">
        <h1>Tarefas Diárias</h1>
        <i class='bx bx-task'></i>
        <hr>
        <div class="adicionar">
            <h3 id="nome"> </h3>
            <a class="btn" href="/postagem">Adicionar Tarefa</a>
        </div>
        <div class="posts">
            <div class="cardPost">
                <% listNotes.forEach(note => { %>
                    <h4><%= note.titulo %></h4>
                    <input type="hidden" name="id" value="<%= note.id %>">
                    <a class="btn-danger" href="/note/delete/<%= note.id %>">Deletar</a>
                    <a class="btn" href="/note/edit/<%= note.id %>">Editar</a>
                    <p><%= note.conteudo %></p>
                    <hr>
                <% }); %>
            </div>
        </div>
    </form>
    <br><br>
    <form action="/logout" method="post"><input type="submit" value="Sair" class="btn"></form>
</main>


<%- include('./include/footer') %>
<%- include('./include/script') %>

</body>
</html>