<%- include('./include/header') %>

<main>
    <form action="">
        <h1>Metas</h1>
        <hr>
        <div class="adicionar">
            <a class="btn" href="/criarMeta">Adicionar Meta</a>
        </div>
        <div class="posts">
            <div class="cardPost">
                <% listMetas.forEach(meta => { %>
                    &#x2B50;<h4 style="display: inline-block"><%= meta.titulo %></h4>
                    <input type="hidden" name="id" value=" meta.id %>">
                    <a class="btn-danger" href="/meta/delete/<%= meta.id %>"><i class='bx bx-trash'></i></a>
                    <a class="btn" href="/meta/edit/<%= meta.id %>"><i class='bx bx-pencil'></i></a>
                    <p><%= meta.conteudo %></p>
                    <hr>
                <% }); %>
            </div>
        </div>
    </form>
</main>
<!-- Estrela sem preenchimento -->
<!-- <i class='bx bx-star'></i> -->

<!-- Estrela com preenchimento -->
<!-- <i class='bx bxs-star' ></i> -->

<!-- &#x2B50; -->

<%- include('./include/footer') %>
<%- include('./include/script') %>

</body>
</html>