<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Minhas Anotações</h1>
    <i class='bx bx-edit'></i>
    <hr>
    <div class="adicionar">
        <button class="btn-add-Note">Adicionar anotação</button>
    </div>

        <div class="adicionarNote" id="adicionarNote">
            <form action="/notes" method="post">
                <h1>Adicionar Nova Anotação</h1>
                <br>
                <label for="titulo" id="labelTitulo">Título: </label>
                <input type="text" name="titulo" id="Titulo" placeholder="Titulo" class="tituloNote">
                <br>
                <label for="conteudo" id="labelConteudo">Conteudo: </label>
                <textarea name="conteudo" id="Conteudo" class="conteudoNote" placeholder="Opcional" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" class="salvarEdit" value="Adicionar">
                <div class="cancelarAddNote">Cancelar</div>
            </form>
        </div>

        <% listNotes.forEach(note => { %>
            <div class="cardPost">
                <form action="/note/delete" method="post">
                    <div class="btn-editNote" onclick="btnEdit('noteEdit-<%= note.id %>')">
                        <i class='bx bx-pencil'></i>
                    </div>
                    <button type="submit" class="btn-danger"><i class='bx bx-trash'></i></button>
                    <input type="hidden" name="id" value="<%= note.id %>">
                    <label for="tituloNote" id="tituloLabel"><%= note.titulo %></label>
                    <input type="hidden" name="titulo" id="tituloNote" value="<%= note.titulo %>">
                    <br>
                    <label for="conteudoNote" id="conteudoLabel"><%= note.conteudo %></label>
                    <input type="hidden" name="conteudo" id="conteudoNote" value="<%= note.conteudo %>">
                    <hr>
                </form>
            </div>

            <div class="editar" id="noteEdit-<%= note.id %>">
                <form action="/note/edit" method="post">
                    <h1 class="h1Note">Editar Anotação</h1>
                    <input type="hidden" name="id" value="<%= note._id %>">
                    <br>
                    <label for="titulo" id="labelTitulo">Titulo: </label>
                    <input type="text" name="titulo" id="EditTitulo" value="<%= note.titulo %>">
                    <br>
                    <label for="conteudo" id="labelConteudo">Conteudo: </label>
                    <br>
                    <textarea name="conteudo" id="EditConteudo" cols="30" rows="10"><%= note.conteudo %></textarea>
                    <br>
                    <input class="salvarEdit" id="edit-<%= note.id %>" onclick="Mudarestado('noteEdit-<%= note.id %>')" type="submit" value="Salvar">
                    <!-- <a class="cancelarEdit" onclick="Mudarestado('noteEdit-%= note.id %>')" href="/home">Cancelar</a> -->
                    <div class="cancelarEditNote" onclick="Mudarestado('noteEdit-<%= note.id %>')">
                        Cancelar
                    </div>
                </form>
            </div>
        <% }); %>
</main>

<%- include('../include/footer') %>