<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Minhas Metas</h1>
    <i class='bx bx-line-chart'></i>
    <hr class="hrColor">
    <div class="adicionar">
        <button class="btn-add-Meta">Adicionar Meta</button>
    </div>
    <div class="posts">
        <div class="adicionarMeta" id="adicionarMeta">
            <form action="/goal" method="post">
                <h1>Adicionar Nova Meta</h1>
                <br>
                <label for="titulo" id="labelTitulo">Minha Meta</label>
                <input type="text" name="titulo" id="Titulo" class="tituloMeta" placeholder="Titulo">
                <br>
                <label for="conteudo" id="labelConteudo">Conteudo</label>
                <textarea name="conteudo" id="Conteudo" class="conteudoMeta" cols="30" rows="10" placeholder="Opcional"></textarea>
                <br>
                <label for="dataPrevista" id="labelDataPrevista">Data Prevista</label>
                <input type="date" name="dataPrevista" id="dataPrevista">
                <input type="submit" onclick="Mudarestado('adicionarMeta')" value="Adicionar">
                <div class="cancelarAddMeta">Cancelar</div>
            </form>
        </div>
        <% listMetas.forEach(meta => { %>
            <div class="cardPost" onclick="metaSuccess('confirmMeta-<%= meta.id %>')">
                <form action="/meta/delete" method="post">
                    <div class="btn-editMeta" onclick="btnEdit('metaEdit-<%= meta.id %>')">
                        <i class='bx bx-pencil'></i>
                    </div>
                    <button type="submit" class="btn-danger"><i class='bx bx-trash'></i></button>
                    <input type="hidden" name="id" value="<%= meta.id %>">
                    <span class="star" id="star"><i class='bx bx-star'></i></span>
                    <span class="starSuccess" id="starSucess-<%= meta.id %>">&#x2B50;</span>
                    <label for="tituloMeta" id="tituloLabelMeta"><%= meta.titulo %></label>
                    <input type="hidden" name="titulo" id="tituloMeta" value="<%= meta.titulo %>">
                    <br>
                    <label for="conteudoMeta" id="conteudoLabelMeta"><%= meta.conteudo %></label>
                    <input type="hidden" name="conteudo" id="conteudoMeta" value="<%= meta.conteudo %>"> 

                    <% let day = meta.dataPrevista.getDate() %>
                    <% let month = meta.dataPrevista.getMonth()+1 %>
                    <% let year = meta.dataPrevista.getFullYear() %> 
                    
                    <% let dFormatMeta = `${day} / ${month} / ${year}` %>
    
                    <p>Data Prevista Para alcançar esta Meta: <span class="dFormatMeta"><%= dFormatMeta %></span></p>

                    <hr class="hrMain">
                </form>
            </div>
            <div class="confirmMeta" id="confirmMeta-<%= meta.id %>">
                <form action="/meta/metaSuccess">
                    <h1>Concluiu essa Meta? &#x1F929;</h1>
                    <h4>Meta: </h4> 
                    <span><%= meta.titulo %></span>
                    <br>
                    <h4>Data Prevista</h4> 
                    <span class="dFormatMeta"><%= dFormatMeta %></span> 

                    <div class="cancelarConfirm" onclick="cancelarMetaSuccess('confirmMeta-<%= meta.id %>'), fundo('confirmMeta-<%= meta.id %>')">
                        Ainda não &#x1F61E;
                    </div>
                    <button type="submit">SIM!!!</button>
                    <input type="hidden" name="metaSuccess" value="<%= meta.id %>">
                </form>
            </div>
            <div class="editar" id="metaEdit-<%= meta.id %>">
                <form action="/meta/edit" method="post">
                    <h1 class="h1Meta">Editar Meta</h1>
                    <input type="hidden" name="id" value="<%= meta.id %>">
                    <br>
                    <label for="titulo" id="labelTitulo">Meta: </label>
                    <input type="text" name="titulo" id="EditTitulo" value="<%= meta.titulo %>">
                    <br>
                    <label for="conteudo" id="labelConteudo">Descrição: </label>
                    <textarea name="conteudo" id="EditConteudo" cols="30" rows="10" placeholder="Opcional"><%= meta.conteudo %></textarea>
                    <br>
                    <input class="salvarEdit" id="edit-<%= meta.id %>" onclick="cancelarEdit('metaEdit-<%= meta.id %>')" type="submit" value="Salvar">
                    <div class="cancelarEditMeta" onclick="cancelarEdit('metaEdit-<%= meta.id %>')">
                        Cancelar
                    </div>
                </form>
            </div>
        <% }); %>
    </div>
</main>
<!-- Estrela sem preenchimento -->
<!-- <i class='bx bx-star'></i> -->

<!-- Estrela com preenchimento -->
<!-- <i class='bx bxs-star' ></i> -->

<!-- &#x2B50; -->

<%- include('../include/footer') %>