<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Minhas Metas</h1>
    <i class='bx bx-line-chart'></i>
    <hr>
    <div class="adicionar">
        <button class="btn-add-Meta">Adicionar Meta</button>
    </div>
    <div class="posts">
        <div class="adicionarMeta" id="adicionarMeta">
            <form action="/goal" method="post">
                <h1>Adicionar Nova Meta</h1>
                <br>
                <label for="titulo" id="labelTitulo">Minha Meta</label>
                <input type="text" name="titulo" id="Titulo" class="tituloMeta">
                <br>
                <label for="conteudo" id="labelConteudo">Conteudo</label>
                <textarea name="conteudo" id="Conteudo" class="conteudoMeta" cols="30" rows="10" placeholder="Opcional"></textarea>
                <br>
                <input type="submit" onclick="Mudarestado('adicionarMeta')" value="Adicionar">
                <div class="cancelarAddMeta">Cancelar</div>
            </form>
        </div>
        <% listMetas.forEach(meta => { %>
            <div class="cardPost">
                <form action="/meta/delete" method="post">
                    <!-- onclick="Mudarestado('metaEdit-<%= meta.id %>')" -->
                    <div class="btn-editMeta"><i class='bx bx-pencil'></i></div>
                    <button type="submit" class="btn-danger"><i class='bx bx-trash'></i></button>
                    <!-- <span class="star">&#x2B50;</span><h4 class="tituloMeta">%= meta.titulo %></h4>
                    <input type="hidden" name="id" value=" meta.id %>">
                    <p>%= meta.conteudo %></p> -->

                    <input type="hidden" name="id" value="<%= meta.id %>">
                    <span class="star">&#x2B50;</span>
                    <label for="tituloMeta" id="tituloLabel"><%= meta.titulo %></label>
                    <input type="hidden" name="titulo" id="tituloMeta" value="<%= meta.titulo %>">
                    <br>
                    <label for="conteudoNote" id="conteudoLabel"><%= meta.conteudo %></label>
                    <input type="hidden" name="conteudo" id="conteudoMeta" value="<%= meta.conteudo %>">
                    <hr>
                </form>
            </div>
            <div class="editar" id="metaEdit-<%= meta.id %>">
                <form action="/meta/edit" method="post">
                    <h1 class="h1Meta">Editar Meta</h1>
                    <input type="hidden" name="id" value="<%= meta.id %>">
                    <br>
                    <label for="titulo" id="labelTitulo">Meta: </label>
                    <input type="text" name="titulo" id="Titulo" value="<%= meta.titulo %>">
                    <br>
                    <label for="conteudo" id="labelConteudo">Descrição: </label>
                    <!-- <input type="text" name="conteudo" id="Conteudo" value="%= meta.conteudo %>" placeholder="Opcional"> -->
                    <textarea name="conteudo" id="Conteudo" cols="30" rows="10" placeholder="Opcional"><%= meta.conteudo %></textarea>
                    <br>
                    <input class="salvarEdit" id="edit-<%= meta.id %>" onclick="Mudarestado('metaEdit-<%= meta.id %>')" type="submit" value="Salvar">
                    <a class="cancelarEditMeta" onclick="Mudarestado('metaEdit-<%= meta.id %>')" href="/metas">Cancelar</a>
                </form>
            </div>
        <% }); %>
    </div>
</main>
<!-- Estrela sem preenchimento -->
<!-- <i class='bx bx-star'></i> -->

<!-- Estrela com preenchimento -->
<!-- <i class='bx bxs-star' ></i> -->

<!-- &#x2B50; -->

<%- include('../include/footer') %>